<div class="gifts">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <h1><a target="_blank" href="https://simpletouch.boomtime.com/lgift">Purchase Gift Certificates
                            Online</a></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Perfect for last minute shopping, these certificates can be sent directly to the recipient via
                        e-mail or printed at home for you to give. Give someone you love the special treat of relaxation
                        and
                        pampering.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 visible-md visible-lg">
            <img class="img-responsive img-fluid" src="assets/img/heart-brushes.jpg">
        </div>
    </div>

    <!-- div class="row" id="giftCertificate" name="giftCertificate">
        <div class="col-md-12">
            <p>Certificates can still be purchased in person as well. Certificates purchased online are priced slightly
                higher than cash sales due to the high cost of credit card processing. Please call or
                <stm-email content='email'></stm-email> and I will be happy to help you.
            </p>
        </div>
    </div -->
</div>