.gifts {
  background-color: #ffcccc;
  text-align: center;
}

.gifts h1 {
  font-family: Trebuchet MS, Arial, Helvetica;
  font-weight: 200;
  width: 100%;
  height: 181;
  border-color: #000000;
  color: #cccccc;
}

.gifts p {
  font-family: Trebuchet MS, Arial, Helvetica;
  font-size: 1.25vw;
}

.gifts img {
  width: 250;
  height: 175;
  border: 0;
  max-width: 90%;
  max-height: 90%;
}
