<div class="credits">
    <div class="container">
        <div class="row">
            <p class="col-md-10 py-1 my-0">{{globals.name}}.  All right reserved.</p>

            <aside class="social col-md-2 py-1 my-0">
              <a target="_blank" href="http://www.facebook.com/SimpleTouchMassageStudioNC" title="Facebook">
                <!-- TODO - need to install font-awesome or alternative 
                  - the version that I was usiong is no longer compaitble with the current verisonof typescrip-->
                <!-- fa name="fab fa-facebook-square"></fa -->
              </a>

                <!-- a class="fa fa-twitter-square" href="#" title="Twitter"></a -->
            </aside>
            
        </div>
    </div>
</div>