<div class="row row-centered d-flex align-items-center justify-content-center">
  <!-- div class="col-xs-12 col-centered">
      <img
        class="brandimg img-responsive"
        align="right"
        src="assets/img/Simple_Touch_Brand.png"
      />
    </div -->
  <div class="col-xs-5">
    <img class="brandimg img-responsive img-fluid" align="left" src="assets/img/whitefoot.gif" />
  </div>
  <div class="col-xs-2  stm-header-txt px-1 mx-0">
    <span style="letter-spacing: 1pt;">
      <strong class="stm-txt"><span class="h1">Simple Touch</span>
        <br />
        <span class="h1">Massage Studio</span></strong>
    </span>
  </div>
  <div class="col-xs-5 d-none d-sm-block">
    <img class="brandimg img-responsive img-fluid" align="right" src="assets/img/whitefoot.gif" />
  </div>
</div>