<footer class="full-width foot pt-1">
  <div class="container mx-1">  
    <div class="row">
      <div class="col-sm-6 col-md-7 foot-widget disclaimer">
        <h5>Disclaimer</h5>
        <p>Massage can benefit people from all walks of life, from infants to the elderly. However, massage may be contraindicated
          in certain circumstances. Massage can be a complement to, not a substitute for, medical treatment for injuries
          or illnesses. Massage therapists cannot diagnose illnesses or injuries. If you are under a doctor's care, I may
          request written permission from your physician prior to beginning any bodywork
        </p>
      </div>

      <div class="col-sm-6 col-md-5 foot-widget contact">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h5>Contact</h5>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-12">I welcome any comments, questions or feedback relating to massage or any other services I provide.</div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6 align-self-center">
              <stm-telephone></stm-telephone>

            </div>
            <div class="col-md-6 align-self-center">
              <stm-address></stm-address>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <stm-email></stm-email>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>