<carousel [(activeSlide)]="activeSlideIndex" interval="2000" showIndicators="true" [noPause]="false">
  <slide>
    <img src="assets/img/SlideShow/EnvironmentSlideShowScaled.JPG"
      class="carouselImg img-responsive img-fluid center-block" alt="Relaxing Environment">

    <div class="carousel-caption d-none d-md-block">
      <h4>Relaxing Environment</h4>
    </div>
  </slide>
  <slide>
    <img src="assets/img/SlideShow/AshiSlideShowScaled.JPG" class="carouselImg img-responsive img-fluid center-block"
      alt="Ashiatsu Massage">
    <div class="carousel-caption d-none d-md-block">
      <h4>Ashiatsu Massage</h4>
    </div>
  </slide>
  <slide>
    <img src="assets/img/SlideShow/cuppingBenefits.jpg" class="carouselImg img-responsive img-fluid center-block"
      alt="Cupping">
    <div class="carousel-caption d-none d-md-block">
      <h4>Cupping</h4>
    </div>
  </slide>
  <slide>
    <img src="assets/img/SlideShow/MassageSlideShowScaled.JPG" class="carouselImg img-responsive img-fluid center-block"
      alt="Swedish Massage">
    <div class="carousel-caption d-none d-md-block">
      <h4>Swedish Massage</h4>
    </div>
  </slide>
  <slide>
    <img src="assets/img/SlideShow/pregCarosel.jpg" class="carouselImg img-responsive img-fluid center-block"
      alt="Maternity Massage">
    <div class="carousel-caption d-none d-md-block">
      <h4>Maternity Massage</h4>
    </div>
  </slide>


</carousel>