<div class="mat-app-background faq-container">
  <mat-accordion>
    <mat-expansion-panel class="faq-panel my-2" *ngFor="let item of items">
      <mat-expansion-panel-header class="faq mb-xs-2">
        <mat-panel-title>
          <div>
            <strong>{{ item.title }}</strong>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="needsDynamicCompiled(item.content); else staticHTML">
        <!-- Have to find another way to dynamically load HTML -->
        <p>
          <!-- stmHtmlOutlet [html]="item.content"></stmHtmlOutlet -->
        </p>
      </div>
      <ng-template #staticHTML>
        <p [innerHTML]="item.content | keepHtml"></p>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>