.faq-container {
  padding: 5px;
  background-color: rgb(31,84,176);
}

.faq {
    background-color: rgb(31,84,176);
    height: auto!important; 
}

.content {
    color: GhostWhite;
}

.mat-panel-title {
    height: 100%;
}

.mat-expansion-panel {
    height: 100%;
  }
.mat-expansion-panel strong {
    color: linen;
}

.mat-expansion-panel p {
    color: GhostWhite;
}

.faq-panel {
    background-color:rgb(47,98,189);

}

.faq-panel:hover {
    font-weight:bold;
}