<div class="about">
    <div class="row">
      <div class="col-md-12 stm-txt">
        <header class="page-header col-md-12">
          <h1 class="h1">About Erin Champion...</h1>
        </header>
      </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
          <img class="img-responsive img-fluid justify-content-center" id="sign" src="assets/img/signheadshot.jpg" alt="sign">
        </div>
    </div>

    <br>
    <div class="row">
      <article class="col-8 lead stm-txt text-left">
          <p>A long time resident of Clevland County, I have been practicing massage therapy here since 2004, after completing my initial massage training at the <strong>Whole You School of Massage</strong> in Rutherfordton. Always interested in physical fitness and the well being of the body, massage therapy was a very natural fit for me. It has been my core belief that our bodies respond better to treatments that work with the body, giving it what it needs instead of treating just symptoms. Once thought of as a luxury, massage is now recognized as a form of treatment necessary to overall health and well being. Whether you need to relieve sore muscles and tension, or just get away to relax and feel good, a therapeutic massage can do wonders for you.</p>

          <p>Sometimes the gentle, relaxing strokes of a Swedish massage will give you the quiet you need to let go, while other times more aggressive, therapeutic massage is necessary to release tight muscles and bands to achieve desired results and overcome persistent pain. I work with each client on an individual basis regarding things like lifestyle, work, and leisure activities to determine what may be the cause of certain issues and how we can work together to make them better.</p>

          <p>In 2005, I completed  training in <a class="stm-hyperlinks" routerLink="/ashiatsu">Ashiatsu Oriental Bar Therapy</a>. I became an Ashi therapist because I felt that I was unable to deliver a massage with just my hands that met the needs of some of my clients desiring deeper work. I have since received advanced training and continue to improve and develop a technique that is unique in its application. I strongly feel that more education and exposure to alternative types of therapies help me to meet the needs of my clients, and what services I can offer them. </p>

          <p>I would welcome the opportunity to work with you. Please feel free to <a class="stm-hyperlinks" href="mailto:erin@simpletouchmassage.com">contact me</a> with any questions, comments or concerns you may have. Even if you do not choose me as your therapist, I encourage you to find a therapist and begin enjoying the many benefits massage therapy has to offer
          </p>	
      </article>

      <aside class="col-4">

          <div class="thumbnail widget">
              <img class="img-responsive img-fluid justify-content-center" id="sign" src="assets/img/headshot.jpg"  width="400" height="308" alt="headshot">
          </div>

          <blockquote>
              <p>In a gentle way, you can shake the world.
              <cite>
                  <a class="stm-hyperlinks" href="http://www.brainyquote.com/quotes/quotes/m/mohandasga150724.html" target="_blank"> -Mohandas Gandhi</a> 
              </cite>
              </p>
          </blockquote>
      </aside> 
    </div>
    
    <br>

    <div class="row">
        <div class="col-md-4">
            <a href="http://www.usamassagetherapist.com/in/cleveland-county-nc" target="_blank"><img class="img-responsive class center-block" src="http://www.usamassagetherapist.com/b/recommended4.gif" border="0" width="88" height="31" alt="Massage Therapists" /></a>
        </div>
        <div class="col-md-4">
            <a href="http://www.deepfeet.com/" target="_blank"><img border="0" class="img-responsive class center-block" src="assets/img/logo.jpg" width="49" height="57"></a>
        </div>

         <div class="col-md-offset-4">
        </div>

    </div>

    <br>
    
  </div>