<div class="container">
  <!-- div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
  </div -->

  <div class="row">
    <form class="address-form">

      <mat-form-field class="address-field">
        <input type="searchControl" matInput placeholder="Search for Address" autocorrect="off" autocapitalize="off" spellcheck="off" #search [formControl]="searchControl">
        <mat-icon matSuffix svgIcon="search"></mat-icon>
        <mat-error *ngIf="searchControl.hasError('invalidAddress')">
          Please enter a valid address!  Address Format - House #, Street Name, City, State, Zip.
        </mat-error>
        <mat-error *ngIf="searchControl.hasError('required')">
          Address is required!
        </mat-error>
      </mat-form-field>
      <br>
    </form>
  </div>
  <br>
  <div class="row">
    <div [ngClass]="{'col-7': showDirections, 'col-12': !showDirections}">
      <agm-map [latitude]="stmLatitude" [longitude]="stmLongitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="stmLatitude" [longitude]="stmLongitude"></agm-marker>
        <agm-direction *ngIf="direction" [visible]="showDirections" [panel]="myPanel" [origin]="direction.origin" [destination]="direction.destination"></agm-direction>
      </agm-map>
    </div>
    
    <div [ngClass]="{'col-5': showDirections, 'col-0': !showDirections}" #myPanel></div>
  </div>
  <br>
</div>