<div class="massage">
  <div class="row">
    <div class="col-md-12 stm-txt">
      <header class="page-header col-md-12">
        <h1>Massage Services</h1>
      </header>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <div class="stm-txt stmBullets">
        <ul class="list-group">
          <li class="transparent transparent-background">
            <div id="swedishType">
              <b>Swedish Massage</b>A relaxing, gentle massage to nourish the body and relieve stress
            </div>
          </li>
          <li class="transparent transparent-background">
            <div id="maternityType">
              <a class='stm-hyperlinks' routerLink="/maternity">Table for Two Maternity Massage</a>- Relieves the
              discomforts
              of pregnancy, such as edema and lethargy, and prepares the body for an easier delivery and faster recovery
            </div>
          </li>
          <li class="transparent transparent-background">
            <div id="therapeuticType">
              <b>Custom Therapeutic Session</b>- Any combination of deep tissue, neuromuscular or <a
                class='stm-hyperlinks' routerLink="/cupping">cupping</a> designed to address muscle tension and
              restoring
              range of motion.
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-5 stm-txt">
    </div>

  </div>
  <stm-rates [type]="serviceType"></stm-rates>

  <br>
  <div class="row stm-txt">
    <div class="col-md-12">
      <p><br>Gift certificates are available either in person or
        <a class="stm-hyperlinks" href="https://simpletouch.boomtime.com/lgift" target="_blank">online</a>. Although
        they are non-refundable, they are transferable. Failure to show for appointment will automatically result in
        forfeiture of gift certificate.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>

  <br>

  <div class="row stm-txt">
    <div class="col-md-12">

      <div>
        <blockquote class="blockquote">
          <p>Health is not merely the absence of disease, but a state of harmony and well-being that permeates every
            cell of the body and mind.</p>

          <footer class="blockquote-footer">

            <cite title="Source Title">
              <a class="stm-hyperlinks" href="http://www.brainyquote.com/quotes/authors/d/deepak_chopra.html"
                target="_blank">Dr. Deepak Chopra</a>
            </cite>
          </footer>

        </blockquote>
        <br>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 stm-txt">
      <stm-info-list [items]='policies' header='Policies' class="stmBullets stm-txt"></stm-info-list>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12 stm-txt" align="center">
      See what others are saying about Simple Touch Massage.
      <a class="stm-hyperlinks" href="http://www.insiderpages.com/b/15240377152?notification=1" target="_blank">Click
        here</a>
      to read reviews or to leave feedback of your own.
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>

  <br>
  <stm-intake-form></stm-intake-form>
</div>