<div class="massage">
  <div class="row">
    <div class="col-md-12 stm-txt">
      <header class="page-header col-md-12">
        <h1>Massage Services</h1>
      </header>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 stm-txt">
      <stm-info-list [items]='types' class="stm-txt"></stm-info-list>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>

  <stm-rates [type]="serviceType"></stm-rates>

  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 stm-txt">
      <stm-info-list [items]='otherTypes' [header]='otherTypesHeader' class="stm-txt"></stm-info-list>
    </div>
  </div>

  <br>
  <div class="row stm-txt">
    <div class="col-md-12">
      <p><br>Gift certificates are available either in person or
        <a class="stm-hyperlinks" href="https://simpletouch.boomtime.com/lgift" target="_blank">online</a>. Although
        they are non-refundable, they are transferable. Failure to show for appointment will automatically result in
        forfeiture of gift certificate.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>

  <br>

  <div class="row stm-txt">
    <div class="col-md-12">

      <div>
        <blockquote class="blockquote">
          <p>Health is not merely the absence of disease, but a state of harmony and well-being that permeates every
            cell of the body and mind.</p>

          <footer class="blockquote-footer">

            <cite title="Source Title">
              <a class="stm-hyperlinks" href="http://www.brainyquote.com/quotes/authors/d/deepak_chopra.html"
                target="_blank">Dr. Deepak Chopra</a>
            </cite>
          </footer>

        </blockquote>
        <br>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 stm-txt">
      <stm-info-list [items]='policies' header='Policies' class="stm-txt"></stm-info-list>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12 stm-txt" align="center">
      See what others are saying about Simple Touch Massage.
      <a class="stm-hyperlinks" href="http://www.insiderpages.com/b/15240377152?notification=1" target="_blank">Click
        here</a>
      to read reviews or to leave feedback of your own.
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>

  <br>

  <stm-intake-form></stm-intake-form>
</div>