<div class="faqs">
	<div class="row">
		<div class="col-md-12 stm-txt">
			<header class="page-header col-md-12">
				<h1 class="h1">Frequently Asked Questions</h1>
			</header>
		</div>
	</div>

	<div class="faq">
		<stm-faqs [items]='generalFAQs'></stm-faqs>
	</div>
	
	<div class="stm-txt">	
			<br>
			<div class="feedback" align="center">See what others are saying about Simple Touch Massage. <a class="stm-hyperlinks" href="http://www.insiderpages.com/b/15240377152?notification=1" target="_blank">Click here</a> to read reviews or to leave feedback of your own.
			</div>
			<br>
	</div>
	
	<div class="col-md-12">
		<p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
	</div>
	<br><br>
	
	<stm-intake-form></stm-intake-form>	
</div>