stm-address {
    font-size: large;
}

#telephone {
    justify-content:center;
}

#address {
    justify-content:center;
}

#email {
    justify-content:center;
}

#sign {
    justify-content:center;
}