<div class="contact">
    <div class="row">
      <div class="col-md-12 stm-txt">
        <header class="page-header col-md-12">
          <h1 class="h1">Contact Information</h1>
        </header>
      </div>
    </div>

    <div class="row">
        <div class="col">
          <p class="text-center" id="telephone"><stm-telephone></stm-telephone></p>
        </div>
    </div>

    <div class="row">
        <div class="col">
          <p class="text-center" id="address"><stm-address></stm-address></p>
        </div>
    </div>

    <div class="row">
        <div class="col">
          <p class="text-center" id="email"><stm-email></stm-email></p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 text-center">
          <img class="img-responsive img-fluid justify-content-center" id="sign" src="assets/img/signheadshot.jpg" alt="sign">
        </div>
    </div>

    <br>
    
  </div>