<div class="stm-txt">
  <mat-list>
    <h2 mat-subheader *ngIf="header" class="list-header">{{ header }}</h2>
    <mat-list-item *ngFor="let item of items" class="list-item my-lg-4 my-sm-5 my-6">
      <mat-icon mat-list-icon class="list-icon transparent  transparent-background" svgIcon="stm-foot"></mat-icon>
      <h4 mat-line class="stm-txt text-wrap">
        <div *ngIf="needsDynamicCompiled(item); else staticHTML">
          <div [innerHTML]="sanitizedHtml(item)"></div>
        </div>
        <ng-template #staticHTML>
          <div [innerHTML]="item | keepHtml"></div>
        </ng-template>
      </h4>
    </mat-list-item>
  </mat-list>
</div>