<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark py-0">

    <a class="navbar-brand stm-nav stm-navbar-brand mx-0" title="STM" routerLink="/home" (click)="closeNavbarIfOpen()">
        <img src="assets/img/brand.ico" class="img-fluid brandimg stm-navbar-brand" title="704-473-0712"
            alt="704-473-0712">
    </a>

    <a class="nav-link stm-nav stm-txt mx-0 d-md-none" routerLink="/gifts" (click)="closeNavbarIfOpen()">Gift
        Certificates<span class=" sr-only">(current)</span></a>


    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="stmNavbar" class="collapse navbar-collapse stm-txt" [ngClass]="{ 'show': isNavOpen }">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item stm-nav m-1 pl-3 py-0 stm-FirstNavItem">
                <a class="nav-link stm-nav m-1" routerLink="/home" (click)="toggleNavbar()">Home<span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown stm-nav m-1 py-0" stmDropDown #r="stmDropDown">

                <a class="nav-link dropdown-toggle stm-nav m-1" onclick="return false;" id="stmNavbarDropdownMenu"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>

                <div class="dropdown-menu dropdown-menu-right avatar bg-dark" aria-labelledby="stmNavbarDropdownMenu">
                    <div class="sidebar-scroll" id="services-group">

                        <a class="dropdown-item stm-txt" routerLink="/menu" (click)="toggleNavbar()">
                            <span class="d-xs-none stm-txt">Menu of Services</span>
                        </a>
                        <a class="dropdown-item stm-txt" routerLink="/massage" (click)="toggleNavbar()">
                            <span class=" d-xs-none stm-txt">Traditional Massage</span>
                        </a>

                        <a class="dropdown-item stm-txt" routerLink="/ashiatsu" (click)="toggleNavbar()">
                            <span class=" d-xs-none stm-txt">Ashiatsu Massage</span>
                        </a>

                        <a class="dropdown-item stm-txt" routerLink="/maternity" (click)="toggleNavbar()">
                            <span class=" d-xs-none stm-txt">Maternity Massage</span>
                        </a>

                        <a class="dropdown-item stm-txt" routerLink="/cupping" (click)="toggleNavbar()">
                            <span class=" d-xs-none stm-txt">Cupping</span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right ml-auto">

            <li class="nav-item stm-nav mr-auto py-0">
                <a class="nav-link stm-nav m-1" routerLink="/gifts" (click)="toggleNavbar()">Gift Certificates<span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item stm-nav mr-auto py-0">
                <a class="nav-link stm-nav m-1" routerLink="/faqs" (click)="toggleNavbar()">FAQs<span
                        class="sr-only">(current)</span></a>
            </li>

            <!-- li class="nav-item stm-nav m-1 py-0">
                <a class="nav-link stm-nav m-1" routerLink="/directions" (click)="toggleNavbar()">Directions<span
                        class="sr-only">(current)</span></a>
            </li -->

            <li class="nav-item stm-nav m-1 py-0">
                <a class="nav-link stm-nav m-1" routerLink="/about" (click)="toggleNavbar()">About<span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item stm-nav m-1 py-0">
                <a class="nav-link stm-nav m-1" routerLink="/contact" (click)="toggleNavbar()">Contact<span
                        class="sr-only">(current)</span></a>
            </li>

        </ul>
    </div>
</nav>