<div class="ashiatsu">
  <div class="row">
    <div class="col-md-12 stm-txt">
      <header class="page-header col-md-12">
        <h1>Ashiatsu Barefoot Therapy</h1>
      </header>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <div class="panel">
        <div class="panel-heading stm-txt">
          <h4 class="panel-title ">Ashiatsu is unlike any deep tissue massage you have ever experienced!</h4>
        </div>
      </div>
      <div class="panel-body stm-txt">
        <p class="lead">The root word 'ashi' means 'foot' and 'atsu' means 'pressure' so together they symbolize 'foot
          pressure' in a technique that delivers a consistent, deep, luxurious massage.<br> Correct application provides
          deep relaxation and stimulates the lymphatic system of the body. Bars are used overhead for support and
          balance.</p>
        <p>I have found no other technique that melts the tensions away from a muscle the way Ashi does. The slow,
          consistent pressure relax the nervous system while the long, fluid strokes stretch and elongate even the
          tightest muscles, without 'muscling' them into submission. All deep tissue work should feel this relaxing.
          This is a truly amazing technique! <i>Click <a class="stm-hyperlinks" target="_blank"
              routerLink="/testimonial">here</a> to read what one client has to say.</i></p>
      </div>
    </div>

    <div class="col-md-5">
      <img class="img-responsive img-fluid img-circle" src="assets/img/Ashiatsu2.jpg" alt="Ashiatsu2">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <img class="img-responsive img-fluid img-circle" src="assets/img/feettoback.jpg" alt="Ashiatsu3">
    </div>
    <div class="col-md-7 stm-txt">
      <stm-info-list [items]='benefits' [header]='benefitsHeader' class="stmBullets stm-txt"></stm-info-list>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <stm-info-list [items]='improve' [header]='improveHeader' class="stmBullets stm-txt"></stm-info-list>

    </div>
    <div class="col-md-5 stm-txt">
      <img class="img-responsive img-fluid img-circle" src="assets/img/footelbow.jpg" alt="Ashiatsu4">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>

  <div class="row stm-txt">
    <div class="col-md-5">
      <img class="img-responsive img-fluid img-circle" src="assets/img/Ashiatsu.jpg" alt="Ashiatsu5">
    </div>

    <div class="col-md-7">
      <h4 class="featurette-heading panel-title">Experience matters.</h4>

      <p class="lead">I am an advanced level Ashiatsu practioner. I have received many hours of instruction and practice
        on this modality including the use of both feet for added pressure. I am certified by the founder and work very
        hard to make each session pleasurable and safe for every client. <i>Beware of therapists practicing forms of
          barefoot massage without the proper training.</i> This endangers you and puts you at risk for injury. If you
        are interested in learning more about this amazing work, please don't hesitate to contact me with any questions
        or concerns you may have. We can work together to see if this work is right for you.</p>
      <p>You can also visit the founder's website at <a class="stm-hyperlinks" href="http://www.deepfeet.com"
          target="_blank">www.deepfeet.com</a> to learn more about Ashiatsu, training, the founder and how it works.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>

  <stm-rates [type]="serviceType"></stm-rates>
  <br>

  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>

  <br>
  <stm-intake-form></stm-intake-form>

</div>