<div class="cupping">
  <div class="row">
    <div class="col-md-12 stm-txt">
      <header class="page-header col-md-12">
        <h1>Cupping Services</h1>
      </header>
    </div>
  </div>

  <div class="row">
    <div class="panel-group col-md-12 stm-txt">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4 class="lead">As the name suggests, Cupping Therapy uses a combination of negative pressure and
            massage movements with the use of a suction device. One way to think about cupping is that it is the inverse
            of massage. Rather than applying pressure to muscles, the suction uses pressure to pull skin, connective
            tissue and muscles upward. I often combine cupping with <a class="stm-hyperlinks"
              routerLink="/massage">Massage</a> or <a class="stm-hyperlinks" routerLink="/ashiatsu">Ashiatsu</a> into
            one treatment, but it could also be used alone. Cupping therapy is a Negative Pressure technique that is
            used to achieve a wide range of responses, ranging from extreme relaxation to therapeutic.</h4>

        </div>
        <br>
        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="lead">A cup is positioned at the area to be treated and a vacuum is created within the cup to
              draw
              the underlying tissue into the cup. The suction level can range from light to heavy, and the movements
              performed by the therapist can be either stimulating or sedating, depending on the needs of the client.
              The
              produced vacuum creates a suction effect that increases blood circulation to the local area, relaxes
              muscle
              tissue and releases a myriad pain causing factors.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <img class="img-responsive img-fluid img-circle" src="assets/img/cuppingBenefits.png" alt="Cupping">
    </div>
    <div class="col-md-7 stm-txt">
      <stm-info-list [items]='benefits' [header]='benefitsHeader' class="stm-txt"></stm-info-list>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 stm-txt">
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title ">How Does Cupping Feel?</h4>
        </div>
      </div>
      <br>
      <div class="panel-body">
        <p class="lead">You usually will feel a tight sensation in the area of the cup. Often, this sensation is
          relaxing and soothing. Depending on your comfort and your practitioner's assessment of the problem, cups may
          be moved around or left in place. They may remain on your body briefly or for longer amounts of time. Each
          treatment is unique to you on that particular day. One very common area to be cupped is the back, although
          cups work well on other areas, too — particularly on fleshy sections of the body.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 stm-txt">
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title ">Why Does It Leave Marks?</h4>
        </div>
      </div>
      <br>
      <div class="panel-body">
        <p class="lead">For four to six hours following a treatment you should avoid any strenuous activity, cold
          weather and unpleasantly hot environments. Cupping opens the pores and because of this the absorption of
          liniments, analgesics, plant hydrosols or essential oils will be aided. Drinking more water than is typically
          necessary following treatment is helpful for oxygenating cleansed tissues.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12 stm-txt">
      <div>
        <h4>If you think that Cupping Therapy would be beneficial for you, please ask about it when scheduling your
          appointment. Cupping can be added to any massage service or as a stand alone treatment.</h4>
      </div>
    </div>
  </div>
  <br>

</div>