<div class="maternity">
	<div class="row">
		<div class="col-md-12 stm-txt">
			<header class="page-header col-md-12">
				<h1 class="h1">Maternity Massage</h1>
			</header>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 stm-txt">
			<p>Massage during pregnancy is therapeutic bodywork which focuses on the special needs of the mother-to-be as her body goes through the dramatic changes of the childbirth experience. It is a fast-growing field in the United States that has attracted the interest of labor and delivery nurses, nurse-midwives, childbirth educators and obstetricians. Massage therapy enhances the function of muscles and joints, improves circulation and general body tone, and relieves mental and physical fatigue.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 stm-txt">
			<p><strong style="font-weight: 400"><br><br>The popularity of prenatal massage is the result of a trend toward a higher level of wellness, especially during pregnancy.&nbsp; Many women are postponing childbirth until they have achieved other goals, such as careers and relationships.&nbsp; Because of this, pregnancy is anticipated and enjoyed to its fullest for the wondrous experience it is.&nbsp; Today's pregnant women - along with other health care consumers - are looking for alternative approaches to support traditional health services. <br></strong>
			</p>
		</div>
	</div>
	
	<div class="col-md-12">
		<p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
	</div>
	
	<stm-info-list [items]='benefits' [header]='benefitsHeader' class="stmBullets stm-txt"></stm-info-list>

	<br>
	
	<div class="col-md-12">
		<p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
	</div>
	
	<h3 class="stm-txt pl-1">Is Therapeutic Pregnancy Massage for you?</h3>
	<h4 class="stm-txt pl-1">If you are having any problems or complications with your pregnancy before you begin. If you are, then I will require approval from your primary healthcare provider before proceeding with any bodywork. The following are circumstances in which massage should not be performed:</h4>
	
	<div class="row">
		<div class="col-md-4 stm-txt">
			<stm-info-list [items]='complications' class="stm-txt"></stm-info-list>
		</div>
		
		<div class="col-md-8 stm-txt">
			<p align="center"><img class="img-responsive" border="0" src="assets/img/preg.jpg" width="490" height="262"></p>
		</div>
	</div>
	
	<br>
	<br>

	<div class="col-md-12">
		<p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
	</div>
	
	<h4 class="stmBullets stm-txt">
		<p class="stm-text" align="center">Mom-to-be FAQ</p>
	</h4>

	<div class="faq">
		<stm-faqs [items]='maternityFAQs'></stm-faqs>
	</div>
	
	<div class="stm-txt">	
			<br>
			<div class="feedback" align="center">See what others are saying about Simple Touch Massage. <a class="stm-hyperlinks" href="http://www.insiderpages.com/b/15240377152?notification=1" target="_blank">Click here</a> to read reviews or to leave feedback of your own.
			</div>
			<br>
	</div>
	
	<div class="col-md-12">
		<p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
	</div>
	<br><br>
	
	<stm-intake-form></stm-intake-form>	
</div>