<stm-carousel class="d-none d-sm-block"></stm-carousel>

<div class="row">
    <div id="home-content" class="col-md-12 welcome stm-txt">
        <h1>Relax.. you're in the right place</h1>
        <p>Welcome to the Simple Touch Massage Studio website! If large, impersonal spas just aren't your thing, or
            you
            are looking for a more private, secluded atmosphere, then the Studio may be just what you are searching
            for.
            Massage is the most natural and relaxing way to untie those knots brought on by our stressful, busy
            lives.
            If you are new to massage, please check out the FAQ's page that hopefully answers any questions you may
            have. If you are already familiar with the many benefits of massage, check out the Menu page for a brief
            overview of some of the types of massage I offer. If you are interested in something a little different,
            please visit the Ashiatsu page to learn more about this unique form of Oriental barefoot massage and its
            many benefits. I hope you find this site helpful. If you feel your questions are not being answered by
            the
            information on this site, please contact me by phone or e-mail. I look forward to seeing you soon!</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
</div>

<stm-gift-certificate></stm-gift-certificate>

<!-- div class="row">
    <div class="col-md-12">
        <p align="center"><img class="img-responsive img-fluid abalrule" src="assets/img/abalrule.gif"></p>
    </div>
</div -->


<!-- div class="gifts">
    <div class="row">
        <div class="col-md-12">
            <h1><a class="stm-hyperlinks" target="_blank" href="https://simpletouch.boomtime.com/lgift">Purchase
                    Gift
                    Certificates Online</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p>Perfect for last minute shopping, these certificates can be sent directly to the recipient via e-mail
                or printed at home for you to give. Give someone you love the special treat of relaxation and
                pampering.
            </p>
        </div>
        <div class="col-md-3 visible-md visible-lg">
            <img class="img-responsive img-fluid" src="assets/img/heart-brushes.jpg">
        </div>
    </div>
    
</div -->